
  <div class="modal-body">
    <form>
      <mat-form-field class="form-header">
        <mat-label>Mã sinh viên</mat-label>
        <input matInput name="code" id="code" [(ngModel)]="student.code" required>
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Tên sinh viên</mat-label>
        <input matInput name="name" id="name" [(ngModel)]="student.name" required>
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Giới tính</mat-label>
        <input matInput name="gender" id="gender" [(ngModel)]="student.gender" required>
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Email</mat-label>
        <input matInput name="email" id="email" [(ngModel)]="student.email" required>
      </mat-form-field>
      <mat-form-field class="form-header">
        <mat-label>Số điện thoại</mat-label>
        <input matInput name="phone" id="phone" [(ngModel)]="student.phone" required>
      </mat-form-field>
      <button type="button" class="btn btn-default" (click)="update()">Save</button>
    </form>
  </div>


