<h1>{{ name.value }}</h1>
<h1>Học Angular</h1>
<h2>Data Binding:</h2>

<div>
  <span class="color-span">Event binding:</span>
  <input type="button" (click)="hello()" value="click me" />
</div>

<label>
  <span class="color-span">Two way binding - Name: </span>
  <input type="text" [formControl]="name">
  <span *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

  <span class="color-validate" *ngIf="name.errors.required">
    *Name is required.
  </span>
  <span class="color-validate" *ngIf="name.errors.minlength">
    *Name must be at least 4 characters long.
  </span>
</span>
</label>


<!-- Property binding -->
<div>
  <span class="color-span">Property binding - Lựa chọn của bạn: </span><br>
  <input type="checkbox" name="" value="pogba" />Pogba <br>
  <input type="checkbox" name="" value="shaw" />Shaw <br>
  <input type="checkbox" name="" value="bruno" [defaultChecked]="checked" />Bruno
</div>
