#customers {
  font-family:  Arial, sans-serif, Helvetica;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th{
  background-color: rgb(150, 178, 207);
  color: white;
}

input[type='checkbox'] {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.modal-title {
  margin-left: auto;
  color: rgb(241, 71, 71);
}
