<h1 style="text-align:center; color: cornflowerblue;">Danh sách sinh viên</h1>

<div style="width: 90%; margin: auto;">
  <button class="btn btn-success">Thêm sinh viên</button> &nbsp;&nbsp;
  <label>
    Tìm kiếm: <input type="text" style="height:36px; width: 250px;" [formControl]="search">
  </label>
  &nbsp;
  <button class="btn btn-primary" (click)="searchName(search)">Tìm</button>
  <!-- <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchText"> -->
  <br>
  <table id="customers" style="border-collapse: collapse;">
    <tr>
      <th><input type="checkbox" [(ngModel)]="isCheckAll" (change)="checkAll()" ></th>
      <th>Id</th>
      <th>MSV</th>
      <th>Giới tính</th>
      <th>Tên</th>
      <th>Email</th>
      <th>Điện thoại</th>
      <th></th>
    </tr>
    <tr *ngFor="let student of students | filter:searchText">
      <td><input type="checkbox" [(ngModel)]="student.isSelected" (change)="checkBox()"></td>
      <td>{{ student?.id }}</td>
      <td>{{ student?.code }}</td>
      <td>{{ student?.gender }}</td>
      <td>{{ student?.name }}</td>
      <td>{{ student?.email }}</td>
      <td>{{ student?.phone }}</td>
      <td>
        <button class="btn btn-warning" (click)="openModalWithClass(template, student)">Sửa</button>
        &nbsp;
        <button class="btn btn-danger">Xóa</button>
      </td>
    </tr>
  </table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h1 class="modal-title pull-left">Sửa sinh viên</h1>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <app-edit-modal [student]="selectedStudent" (studentChange)="update($event)"></app-edit-modal>
</ng-template>




